@import "../../../shared/styles/colors.css";

.container {
  position: relative;
  height: 100vh;
  padding: 2rem;
  overflow-y: auto;
}

.content {
  max-width: 90rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}
