:root {
  --color-background: #f5f7fa;
  --card-background: #ffffff;
  --color-primary: #82018d;
  --color-secondary: #f76300;
  --color-third: #007bff;

  --color-text: #333333;
  --color-border: #e5e7eb;
  --colot-text-title: #2e2e2e;
  --color-text-subtitle: #6b7280;

  /* admin */
  --color-accent: #007bff;
  --color-badge: #6366f1;
  --color-edit-button: #059669;
  --color-delete-button: #dc2626;

  /* teacher */
  --color-stat-1: #007bff;
  --color-stat-2: #f59e0b;
  --color-stat-3: #10b981;
  --color-stat-4: #8b5cf6;
  --color-stat: white;
}
