/* Para pantallas de laptop comunes (14") */
@media (max-width: 1536px) {
    html {
        /* Por defecto es 16px. Al bajarlo a 14px, 
       todo lo que use 'rem' se encogerá proporcionalmente */
        font-size: 14px;
    }
}

/* Para pantallas aún más pequeñas o resoluciones bajas */
@media (max-width: 1280px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 730px) {
    html {
        font-size: 14px;
    }
}